<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Server Programming with Spring Boot</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Add a book to the database</h1>
<div>
<form th:object="${beer}"th:action="@{save}"action = # method ="post"
enctype="multipart/form-data">
<label for = "name">Name</label>
<input type="text" id="name" th:field="*{name}"/>
<label for = "hinta">Hinta</label>
<input type ="number" step="0.01" id="hinta" th:field ="*{hinta}"/>
<label for ="maku">Maku</label>
<input type="text" id="maku" th:field="*{maku}"/>
<label for ="release">Koko ja materiaali</label>
<input type="text" id="koko" th:field="*{koko}"/>
<label for="image">Photo</label>
<input type="file" id="image" name="image" accept="image/png, image/jpeg"/>
<input type ="submit" value="Save"></input>	
<label for="kauppalist">Kauppa</label>
<select id="kauppalist" th:field="*{kauppa}" class="form-control">
<option th:each="store: ${stores}"
th:value="${store.id}"
th:text="${store.name}"></option>
</select>
</form>
</div>
</body>
</html>