<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<class="table table-striped">
<head>
<title>Server Programming with Spring Boot</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<h1>Books:</h1>
<table class="table table-striped">
<tr>
	<th>Title:</th>
	<th>Author:</th>
	<th>Isbn:</th>
	<th>Year:</th>
	<th>Price:</th>
	<th>Id:</th>
	<th>Category:</th>
</tr>
	<tr th:each="book: ${books}">
 	  <td th:text="${book.title}"></td>
 	  <td th:text="${book.author}"></td>
 	  <td th:text="${book.isbn}"></td>
 	  <td th:text="${book.release}"></td>
 	  <td th:text="${book.price}"></td>
 	  <td th:text="${book.id}"></td>
 	  <td th:text="${book.category.name}"></td>
 	  <td> <a  th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-danger">Delete this book</a></td>
 	  <td> <a th:href="@{/editbook/{id}(id=${book.id})}"class="btn btn-success">Edit this book</a></td>
 	  <td> <a th:href="@{/logout}"class="btn btn-danger">Log out</a></td>
	 </tr>
</table>
<a href="/add" class="btn btn-primary">Add a book</a>
</body>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</html>