<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Server Programming with Spring Boot</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Edit this beer in the database</h1>
<div>
<form th:object="${beer}"th:action="@{/save}"action = # method ="post"
enctype="multipart/form-data">
<input type = "hidden" th:field="*{id}" class="form-control"/>
<label for = "name">Name</label>
<input type="text" id="name" th:field="*{name}"/>
<label for = "hinta">Price</label>
<input type ="text" id="hinta" th:field ="*{hinta}"/>
<label for ="maku">Rating 0-5</label>
<input type="text" id="maku" th:field="*{maku}"/>
<label for ="koko">Size and material</label>
<input type="text" id="koko" th:field="*{koko}"/>
<label for="image">Photo</label>
<input type="file" id="image" name="image" accept="image/png, image/jpeg"/>
<input type ="submit" value="Save"></input>
<label for="storelist">Store</label>
<select id="storelist" th:field="*{kauppa}" class="form-control">
<option th:each="store: ${stores}"
th:value="${store.id}"
th:text="${store.name}"></option>
</select>
</form>
</div>
</body>
</html>
	